body {
     background-color: rgb(255,255,255) ;
	
}

#canvas1 {
background-color:transparent;border:0px solid;background:none 0% 0% repeat scroll transparent;height:2061px;width:976px;margin-top:0px;margin-bottom:0px;}
#canvas99 {
height:67px;width:976px;margin-top:0px;margin-bottom:0px;}
#canvash31859 {
height:178px;width:976px;margin-top:0px;margin-bottom:0px;}
#canvasf31860 {
height:67px;width:976px;margin-top:0px;margin-bottom:0px;}

.headerfooting {width:976px;margin:0 auto}

#snippet744926 {
     top: 46px;
     left: 672px;
     height: 1358px;
     width: 5px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 105;
}
#snippet744927 {
     top: 77px;
     left: 705px;
     height: 8px;
     width: 259px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 105;
}
#snippet744928 {
     top: 334px;
     left: 694px;
     height: 30px;
     width: 250px;
     margin-top: 0px;
     margin-bottom: 0px;
     padding: 10px;
     z-index: 110;
}
#snippet744929 {
     top: 370px;
     left: 704px;
     height: 183px;
     width: 250px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 112;
     overflow: hidden;
}
#snippet744930 {
     top: 636px;
     left: 705px;
     height: 8px;
     width: 259px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 106;
}
#snippet744931 {
     top: 676px;
     left: 705px;
     height: 10px;
     width: 90px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 115;
}
#snippet744932 {
     top: 701px;
     left: 734px;
     height: 200px;
     width: 300px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 117;
     overflow: hidden;
}
#snippet744933 {
     top: 736px;
     left: 704px;
     height: 290px;
     width: 270px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 118;
     overflow: hidden;
}
#snippet744934 {
     top: 1029px;
     left: 704px;
     height: 300px;
     width: 270px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 122;
     overflow: hidden;
}
#snippet744935 {
     top: 702px;
     left: 706px;
     height: 18px;
     width: 18px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 123;
}
#snippet744936 {
     top: 1007px;
     left: 706px;
     height: 18px;
     width: 19px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 124;
}
#snippet744937 {
     top: 1006px;
     left: 730px;
     height: 17px;
     width: 99px;
     margin-top: 0px;
     margin-bottom: 0px;
     padding: 3px;
     z-index: 125;
}
#snippet744938 {
     top: 52px;
     left: 694px;
     height: 25px;
     width: 305px;
     margin-top: 0px;
     margin-bottom: 0px;
     padding: 10px;
     z-index: 104;
}
#snippet744940 {
     top: 235px;
     left: 40px;
     height: 950px;
     width: 600px;
     margin-top: 0px;
     margin-bottom: 0px;
     padding: 10px;
     z-index: 150;
}
#snippet744946 {
     top: 562px;
     left: 694px;
     height: 60px;
     width: 250px;
     margin-top: 0px;
     margin-bottom: 0px;
     padding: 10px;
     z-index: 99;
}
#snippet744947 {
     top: 2000px;
     height: 41px;
     width: 981px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 156;
     overflow: hidden;
}
#snippet744949 {
     top: 110px;
     left: 703px;
     height: 263px;
     width: 263px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 97;
     overflow: hidden;
}
#snippet744950 {
     top: 1280px;
     left: 695px;
     height: 200px;
     width: 300px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 158;
     overflow: hidden;
}
#snippet744978 {
     top: 44px;
     left: 6px;
     height: 128px;
     width: 510px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 161;
}
#snippet744980 {
     top: 178px;
     height: 38px;
     width: 495px;
     margin-top: 0px;
     margin-bottom: 0px;
     padding: 10px;
     z-index: 162;
}
#snippet744981 {
     top: 236px;
     left: 354px;
     height: 134px;
     width: 300px;
     margin-top: 0px;
     margin-bottom: 0px;
     padding: 10px;
     z-index: 163;
}
#snippet744984 {
     top: 421px;
     left: 354px;
     height: 200px;
     width: 300px;
     margin-top: 0px;
     margin-bottom: 0px;
     padding: 10px;
     z-index: 164;
}
#snippet744951 {
     top: 20px;
     left: 11px;
     height: 8px;
     width: 956px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 102;
}
#snippet744952 {
     top: 70px;
     left: 10px;
     height: 21px;
     width: 441px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 103;
}
#snippet744953 {
     top: 109px;
     left: 8px;
     height: 17px;
     width: 342px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 104;
}
#snippet744954 {
     top: 79px;
     left: 545px;
     height: 9px;
     width: 42px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 105;
}
#snippet744955 {
     top: 79px;
     left: 611px;
     height: 9px;
     width: 58px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 106;
}
#snippet744956 {
     top: 79px;
     left: 697px;
     height: 8px;
     width: 36px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 107;
}
#snippet744957 {
     top: 79px;
     left: 762px;
     height: 8px;
     width: 32px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 108;
}
#snippet744958 {
     top: 78px;
     left: 847px;
     height: 18px;
     width: 19px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 110;
}
#snippet744959 {
     top: 77px;
     left: 871px;
     height: 20px;
     width: 105px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 111;
}
#snippet744960 {
     top: 80px;
     left: 961px;
     height: 11px;
     width: 11px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 112;
}
#snippet744961 {
     top: 80px;
     left: 485px;
     height: 10px;
     width: 36px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 113;
}
#snippet744962 {
     top: 78px;
     left: 823px;
     height: 18px;
     width: 18px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 109;
}
#snippet744963 {
     height: 389px;
     width: 956px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 101;
}
#snippet744964 {
     top: 2px;
     height: 389px;
     width: 956px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 101;
}
#snippet744965 {
     height: 389px;
     width: 956px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 101;
}
#snippet744966 {
     height: 389px;
     width: 956px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 101;
}
#snippet744967 {
     height: 389px;
     width: 956px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 101;
}
#snippet744968 {
     height: 389px;
     width: 956px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 101;
}
#snippet744969 {
     height: 389px;
     width: 956px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 101;
}
#snippet744970 {
     left: 367px;
     height: 27px;
     width: 135px;
     margin-top: 0px;
     margin-bottom: 0px;
     padding: 10px;
     z-index: 101;
}
#snippet433126 {
     top: 20px;
     left: 11px;
     height: 8px;
     width: 956px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 102;
}
#snippet433127 {
     top: 70px;
     left: 10px;
     height: 21px;
     width: 441px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 103;
}
#snippet433128 {
     top: 109px;
     left: 8px;
     height: 17px;
     width: 342px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 104;
}
#snippet433133 {
     top: 78px;
     left: 823px;
     height: 18px;
     width: 18px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 109;
}
#snippet433134 {
     top: 78px;
     left: 847px;
     height: 18px;
     width: 19px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 110;
}
#snippet436048 {
     top: 78px;
     left: 872px;
     height: 43px;
     width: 129px;
     margin-top: 0px;
     margin-bottom: 0px;
     padding: 0px;
     z-index: 114;
}
#snippet478569 {
     top: 150px;
     left: 11px;
     height: 8px;
     width: 956px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 103;
}
#snippet478574 {
     top: 150px;
     left: 11px;
     height: 8px;
     width: 956px;
     margin-top: 0px;
     margin-bottom: 0px;
     z-index: 103;
}
#snippet570772 {
     top: 70px;
     left: 569px;
     height: 23px;
     width: 244px;
     margin-top: 0px;
     margin-bottom: 0px;
     padding: 0px;
     z-index: 115;
}
}
#snippet a {
}
#snippet a:hover {
}

.snippet {position:absolute;}

SELECT S.id as snippetId, S.snippetType as snippetType, S.parentSnippetId, S.globalElementConfig,
        								St.*
        								FROM canvas C LEFT JOIN snippet S ON C.id=S.canvasId 
        								LEFT JOIN style St ON S.styleId = St.id
        								WHERE C.pageId=28796 ORDER BY C.id