body {

     font-family: arial;
     font-size: 12px;
}


.clientheaderHolder {margin:0 auto; position:relative; z-index:998;}
.clientfooterHolder {margin:0 auto;}

a {color:darkred}
a:hover {color:darkgreen}

h1.seoText, h2.seoText, h3.seoText, h4.seoText {position:absolute; top:0; left:-9999px;}
