	div.para, h1, h3, h5, h6, div.table, div.figure, table.ref, #popupeqdiv, div.nosummary, #bragg-header, #bragg-ref, .toc-body div.main {
		font-size: 150% !important;
	}
	 h2 {
		font-size: 270% !important;
	}
	.document {
		margin-left: 0px !important;
	}
	.floating-menu table tr td {
		font-size: 100% !important;
	}
	span.MathJax {
		font-size: 100% !important;
	}

    .footnote {
		font-size: 125% !important;
	}

    #bragg-abstract {
         font-size:125% !important;
    }

    div#bragg-paper div.figure-group div.figure div.caption{
      font-size:85% !important;
    }

    div#bragg-paper div.figure-group div.figure div.figure div.caption{
        font-size:55% !important;
    }

    div#bragg-paper div.figure-group div.caption{
      font-size:125% !important;
    }
