/*======================================================================
 Core CSS for LaTeXML documents converted to (X)HTML */

/* Generic Page layout */
/* Header & footer */
/*.header:before { content:url(latexml.png); }*/
.header,.footer   { font-size:80%; }
.header *[rel~="prev"],
.footer *[rel~="prev"] { float:left; }
.header *[rel~="up"],
.footer           { display:block; text-align:center; }
.header *[rel~="next"],
.footer *[rel~="next"] { float:right; }
.header .ref,
.footer .ref      { margin:0 1em; }
.header li { padding:0.1em 0.2em 0.1em 1em;}

/* Main content */
.content { clear:both; padding-top:5px; }
.footer  { margin-top:5px;  border-top:1px solid; }

.LaTeXML-logo { font-size:80%; margin-top: 5px; float:right; }
.LaTeXML-logo a { font-variant: small-caps; }
.LaTeXML-logo img { vertical-align:-3px; }

/* if shown */
.navbar .toc li { margin-left:-0.5em; }
.navbar li { white-space:nowrap; display:block; overflow:hidden; }
.navbar li .here { white-space:normal; overflow:visible; }

/*======================================================================
 Titles & Frontmatter */
h6 { display:inline; font-size:100%; font-family:sans-serif; }
h6:after { content:" "; }
h6 + div.para,
h6 + p { display:inline; }

.date        { text-align:center; font-size: 100%; font-family:sans-serif; }
.subtitle    { text-align:center; font-size: 120%; font-family:sans-serif;
	       padding-left:0.2em; margin-left:-0.5em; }
.author      { text-align:center; font-family:sans-serif; }
.author .personname  { font-size: 130%; }
.dedicatory  { font-style:oblique; }
.classification,
.keywords    { font-size:90%; margin-left:4em; }
.abstract    { margin:1em 4em 1em 4em; }
.toc li      { list-style-type:none;  }

.navbar { display: none; } /* override! */
.main { margin:0px; padding:1em 3em 1em 2em; }

.rdf { display:none; }

/*======================================================================
 Blocks, Lists, Floats */
.inline-block { display:inline-block; }
div.equation { display:block; width:95%; text-align:center; }
.equation span.refnum.left { position:absolute; left:2em; }
.equation span.refnum.right { position:absolute; right:2em; }

.equation td { width:auto; }
table.equation,
table.equationgroup { width:100%; }
table.align tr.equation td.ltx_left + td.ltx_right { padding-left:3em; }
table.ltx_eqnarray tr.ltx_lefteqn + tr td.ltx_right { min-width:2em; }

/* Hide this from IE */
tr > td.eqpad { width:50%; }

dl.description dt { margin-right:0.5em; float:left;
	            font-weight:bold; font-size:95%; }
dl.description dd { margin-left:5em; }
dl.description dl.description dd { margin-left:3em; }

li.nobullet { list-style-type:none; }

.theorem  {margin:1em 0em 1em 0em; }

.bibliography dt { margin-right:0.5em; float:left; }
.bibliography dd { margin-left:3em; }
.biblist { list-style-type:none; }
.bibtag { font-weight:bold; margin-left:-2em; width:3em; }
/*.bibitem-tag + div { display:inline; }*/
.bib-title { font-style:italic; }
.bib-article .bib-title { font-style:normal !important; }
.bib-journal  { font-style:italic; }
.bib-volume { font-weight:bold; }

.indexlist li { list-style-type:none;  }
.indexlist { margin-left:1em; padding-left:1em;}
.listing td.linenumber,
.listingblock td.linenumber
   { width:3em; text-align:right;}
/*======================================================================
 Borders and such */
.framed  { border:1px solid black;}
.tabular td, .tabular th { padding:0.1em 0.1em; }
table { border-collapse:collapse; }
/* Hmm... the star should be m:mtd */
td.t,  th.t,  *[class~="t"]  { border-top:1px solid black; }
td.r,  th.r,  *[class~="r"]  { border-right:1px solid black; }
td.b,  th.b,  *[class~="b"]  { border-bottom:1px solid black; }
td.l,  th.l,  *[class~="l"]  { border-left:1px solid black; }
td.tt, th.tt, *[class~="tt"] { border-top:3px double black; }
td.rr, th.rr, *[class~="rr"] { border-right:3px double black; }
td.bb, th.bb, *[class~="bb"] { border-bottom:3px double black; }
td.ll, th.ll, *[class~="ll"] { border-left:3px double black; }

td.left,   th.left   { text-align:left; white-space:nowrap; }
td.right,  th.right  { text-align:right; white-space:nowrap; }
td.center, th.center { text-align:center; white-space:nowrap; }
td.middle, th.middle, tr.middle       { vertical-align:middle; }
td.baseline, th.baseline, tr.baseline { vertical-align:baseline; }

/*======================================================================
 Low-level Basics */
.TINY       { font-size:50%; }
.Tiny       { font-size:60%; }
.tiny       { font-size:65%; }
.script     { font-size:70%; }
.footnote   { font-size:80%; }
.small      { font-size:90%; }
.normal     { font-size:100%; }
.large      { font-size:110%; }
.Large      { font-size:120%; }
.LARGE      { font-size:140%; }
.huge       { font-size:150%; }
.Huge       { font-size:170%; }
.HUGE       { font-size:200%; }
.sansserif  { font-family: sans-serif; }
.typewriter { font-family: monospace; }
.bold       { font-weight: bold; }
.medium     { font-weight: normal; }
.italic     { font-style: italic; }
.upright    { font-style: normal; }
.slanted    { font-style: oblique; }
.smallcaps  { font-variant: small-caps; }
.red        { color:red; }
.centering  { text-align:center; 
	      margin:auto; }
.inline-block.centering,
img.centering  { display:block;
	      margin:auto; }
.flushleft  { text-align:left; }
.flushright { text-align:right; }
.ERROR      { color:red; }
cite        { font-style: normal; }

/*======================================================================
 pop-up footnotes, endnote, margin */
.note .note_content {display:none; }
.note .note_content {
     width: 70%; right:5%;  font-size:80%;
     background:#E0E0E0; border:3px outset gray; }
.note .mark { color:blue; }
.note-type  { font-weight: bold; }
.note:hover .note_content 
   { display:block; position:absolute; z-index:10; }