div h1.title {
  border-top: 0;
}

.date {
  margin-bottom: 2em;
}

ul li {
  margin-bottom: 1em;
}

.hidden_equation_shim {
  display: none;
}

img#logo {
  position: absolute;
  top: 3.5em;
}

table.tabular {
  width: 75%;
}

td.v_fill {
  height: 100%;
}

.v_centered {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.curly_brace {
  display: block;
  float: left;
  width: 10px;
  margin-right: 0.5em;
  padding-left: 1.25em;
}
.curly_brace img {
  height: 100%;
  width: 10px;
}

.wider table.tabular {
  width: 65%;
}

h2 {
  margin-top: 1ex;
}

table.share {
  margin-bottom: 0;
}

#no_math_warning {
  color: white;
  background: red;
  font-weight: bold;
  padding: 0.25em;
  margin: 2em;
  margin-left: 4em;
}

 .figure .caption img {
  border: none;
}

.figure .caption {
  text-align: center;
  font-family: Arial;
  line-height: 1.45;
  font-size: 95%;
}

div.block {
  text-align: center;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 2px solid #222;
}

div.block a {
display: block;
}

div.block a.front_caption {
  font-size: 220%;
  text-decoration: none;
  font-style: italic;
  /*text-transform: uppercase;*/
}

div.block a:hover {
  color: darkred;
}

.chapter-title {
  font-weight: bold;
  font-style: italic;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

.tag {
  margin-right: 0.5em;
}

.chapter-title .tag {
  font-weight: bold;
  display: block;
  margin-bottom: 1em;
}

.section-title {
  margin-top: 2em;
  font-size: 100%;
  font-weight: bold;
}

.section-title .tag {
  font-weight: bold;
  margin-right: 0.75em;
}


thead th {background:#fff;}

a sup.mark {
  font-size: 100%;
  font-weight: bold;
}

ol#footnotes {
  margin-top: 1.5em;
  border-top: 1px solid #333;
  padding-top: .5em;
}

ol#footnotes li.footnote a {
  font-weight: bold;
}

#Ch46-T1.table {
  white-space: nowrap;
}

.reflectbox {
  height: 0.8em;
}

ol#Ch47-I1 {
  list-style: upper-roman outside;
}

ol#Ch31-I1 {
  list-style: lower-alpha outside;
   margin: 1em 0 0 0;
}

ol#Ch7-I1 {
  list-style: upper-roman outside;
   margin: 1em 0 0 0;
}

ol#Ch19-I1 {
  list-style: decimal outside;
   margin: 1em 0 1em 0;
}

ol#Ch37-I1 {
  list-style: decimal outside;
}

ol#Ch42-I1 {
  list-style: decimal outside;
}

ol#Ch18-I1 {
  list-style: decimal outside;
}

div.figure img.first {
     padding: 1ex;
}
div.figure img.middle {
     padding: 1ex;
}
div.figure img.last {
     padding: 1ex;
}

a {
  color: #9c0000;
  text-decoration: underline;
}

div.table {
  font-weight: bold;
}

div.table div.caption {
  margin-bottom: 1em;
  font-size: 90%;
}

div.table span.tag {
  display: block;
}

#Ch44-T1.table span.tag {
  display: inline;
}

div.table {
  margin-bottom: 3em;
}

#Ch8-T1, #Ch8-T2, #Ch8-T4 {
  width: 15em;
  margin: 0 auto;
}

#Ch9-T1, #Ch40-T1 {
  max-width: 25em;
  margin: 0 auto;
}

#Ch22-T3, #Ch22-T4, #Ch52-T1 {
  max-width: 30em;
  margin: 0 auto;
}

#Ch26-T1, #Ch26-T2 {
  width: 18em;
  margin: 0 auto;
}

#Ch52-T1 td {
  line-height: 1.25em;
  padding-bottom: 0.5em;
}

#Ch37-S5-p2 em.emph {
  white-space: nowrap;
}

#Ch44-S6-p13 table {
  margin-bottom: 1.4em;
}

div#qm-principles {
    margin:0 2em;
}
div#qm-principles p.p {
    text-indent:0; margin:0.6em 0;
}

div#maxwell-table {
  border:2px solid;
  padding:0 1em;
  display:inline-block;
}
div#maxwell-table h4 {
  text-align:left;
  font-weight:normal;
  font-size:120%;
}
div.center {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

div.unit,div.quantity {
width:12em;
float:right;
text-align:left;
line-height:1em;
}
div.quantity {
float:left;
width:9em;
}
div.pair{
clear:both;
max-width:21.5em;
padding:0.9em 0;
}
div#Ch4-T1 div.caption {font-weight:bold;}

div#bragg-header{
  text-indent:0;
  text-align: center; 
  line-height: 1.75em; 
  font-weight:normal;
  font-size:100%
}
div#bragg-abstract {
  margin:1em 2em;
  text-align:justify;
  line-height:135%;
  font-size:85%;
}
div#bragg-paper p.p {
  line-height:135%;
}
div#bragg-paper div#Ch30-S9-p3 h4 + p {
  text-indent:0;
}
div#bragg-paper h4 {
  text-align:center;
  font-size:normal;
  font-weight:normal;
  font-variant:small-caps;
  margin-bottom:0.3em;
  margin-top:0.7em;
  font-size:95%;
}
table#bragg-ref{
  width:19em;
}
div#bragg-paper div.figure-group div.figure div.caption{
  margin-top:0;
  margin-bottom:0.5em;
  font-size:85%;
}
div#bragg-paper div.caption {
   font-family:serif;
}
div#bragg-paper div.caption span.tag{
   font-variant:small-caps;
}
div#bragg-paper span.tag i{
   font-variant:normal;
}
div#bragg-paper div.figure-group div.figure span.tag{
}
div#bragg-paper div.figure-group {
  border:1px dotted;
  margin:1em 0;
}
div#bragg-paper div.figure-group div.figure{
  margin:0;
}
div#bragg-paper div.figure-group div.caption{
  text-align:center;
}
div#bragg-paper div.figure-group div.figure div.caption span.tag{
   font-variant:normal;
  font-style:italic;
}
/* Nested figure classes imply side-by-side images */
div#bragg-paper div.figure div.figure{
  width:40%;
  display:inline-block;
  vertical-align:top;
}
div#bragg-paper div.figure div.figure img{
  max-width:100%;
}

footer {
  font-size: 90%;
  text-align: center;
  margin-top: 1.5em;
}

/* variable floating menu stuff used to be here */
div.floating-menu { display: none; }

div.floating-menu a { display: block !important; margin: 0 0 !important}
div.floating-menu a:link { text-decoration: none !important; color: #9c0000 !important}
div.floating-menu a:visited { text-decoration: none !important; color: #9c0000 !important}
div.floating-menu a:hover { color: black !important}

#MathJaxMessage {
    visibility:hidden;
}

/* used by MathJaxMessage */
@-webkit-keyframes color_change {
	from { color: blue; }
	to { color: red; }
}
@-ms-keyframes color_change {
	from { color: blue; }
	to { color: red; }
}
@keyframes color_change {
	from { color: blue; }
	to { color: red; }
}
@-o-keyframes color_change {
	from { color: blue; }
	to { color: red; }
}

/* used by transcript popups */
@keyframes opacity_change {
    from { opacity: 0; }
    to { opacity: 1; visibility: visible; }
}
@-webkit-keyframes opacity_change {
    from { opacity: 0; }
    to { opacity: 1; visibility: visible;}
}
@-ms-keyframes opacity_change {
    from { opacity: 0; }
    to { opacity: 1; visibility: visible;}
}
@-moz-keyframes opacity_change {
    from { opacity: 0; }
    to { opacity: 1; visibility: visible;}
}
@-o-keyframes opacity_change {
    from { opacity: 0; }
    to { opacity: 1; visibility: visible;}
}

.paused {
    -webkit-animation-play-state:paused !important;
    -moz-animation-play-state:paused !important;
    -o-animation-play-state:paused !important;
    animation-play-state:paused !important;
}

h7 {font-size:1em;font-style:italic;line-height:2em;margin-bottom:2em}

p {margin:0 0 0.3em; line-height:1.45; }
p.p {text-indent:2em;}

td.ref   {vertical-align:top; text-align:right; text-indent:2em; white-space:nowrap; width:1px;}

hr.sep {width:35%; height:1px; color:#000; background-color:#000; margin-top:1.5em;}

img {max-width:100%;}

#footnotediv {
        /* z-index:100; */
        max-width: 800px;
}

a {white-space: nowrap;} /* to prevent line breaks on dashes in refernce links */

div.figure {
  border-color: transparent;
  border-style: solid;
  border-bottom-width: 1px; /* needed for RefpopFigure forward references */
  margin-bottom: 0em;       /* compensate for lack of margin collapse */
}

div.table {
  border-color: transparent;
  border-style: solid;
  border-bottom-width: 1px; /* needed for RefpopTable forward references */
  border-top-width: 1px;    /* needed for RefpopTable backward references */
  margin-bottom: 1em;       /* compensate for lack of margin collapse */
  margin-top: .75em;          /* compensate for lack of margin collapse */
}

div.nosummary {
    text-align:center;
    margin:auto;
    max-width:50%;
    position:relative;
}

div.nosummary p {
    padding:1em 0.6em 0.6em 0.6em
}

div.summary {
    text-align:center;
    line-height: 0;
    margin:auto;
    max-width:1024px;
    position:relative;
    animation-duration: 1s;
}

#popupsumdiv {
    color:#fff;
    /* z-index:200; */
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}

#popupeqdiv {
        padding-bottom: 0.3em !important;
        /* z-index:200; */
}

/* fix problem on mobile orientation changes */
body {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}
