div.main {
    margin-right:7em;
    padding:0 0 0 1em;
}

#footnotediv {
    margin:0 6.25em 0 0;
}

div.para {
    text-align:justify;
}

div.floating-menu {
    position:fixed;
    right:0;
    top: 1em;
    margin:0;
    padding:0;
    width:6.5em;
    border-style:none;
    border-radius:0;
    transition:none;
    -webkit-transition:none;
    background:0;
    display:block !important;
}

div.floating-menu table {
    margin:0;
    padding:0;
    width:6.25em;
    line-height:1.45;

    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

/* the following hacks fix a bug in Firefox */
_:-moz-tree-row(hover), div.main {margin-right:6.25em;}
_:-moz-tree-row(hover), #footnotediv {
    margin:0 6.25em 0 0;
}
/* hack for Safari 9 */
_::-webkit-:not(:root:root), div.floating-menu { padding-right:.5em;}


#MathJaxMessage {
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    -o-transform: none;
}

