body {
  font-family: Georgia, serif;
  color: #070707;
}

h1 {
  font-size: 230%;
  border-top: 2px solid #333;
  padding-top: 1em;
}

h2 {
  font-size: 180%;
}

img.tex {
  vertical-align: -6px;
}

/* Title and subtitle */

h1.title {
  text-align: center;
  font-size: 250%;
}

h1.subtitle {
  border-top: none;
  padding-top: 0;
  margin: 0;
  text-align: center;
  font-size: 140%;
}

h2.author {
  margin-top: 1em;
  text-align: center;
}

h3.date {
  text-align: center;
}


a {
  color: #002f72;
  text-decoration: none;
}

a.ref {
  text-decoration: none;
}

a.heading {
  text-decoration: none;
}

tt {
  font-size: 130%;
}

code {
  font-size: 130%;
  color: darkgreen;
  font-weight: bold;
}

.number {
  margin-right: 1em;
}

h1 span.number {
  display: block;
  margin-bottom: 0.5em;
  font-size: 80%;
}

.label {
  font-weight: bold;
  margin-right: 0.5em;
}

.header {
  font-weight: bold;
  margin-right: 0.5em;
}

.caption .label {
  font-weight: normal;
  font-weight: bold;
  margin-right: 0.5em;
}

.code {
  margin-top: 0.5em;
  width: 100%;
}


.codelisting {
  width: 100%;
}

.verb {
  font-size: 120%;
}

a.ref {
  color: #002f72;
}

.figure {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.table {
  text-align: center;
  margin-top: 2em;
}

.table table.tabular {
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}


.figure img.math {
  border: none;
}

.figure .scale img {
  border: none;
}

.displaymath {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.caption {
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: .75em;
}

.equation_number {
  float: right;
}

table.tabular {
  border-collapse: collapse;
}

.tabular th {
  padding: 0em;
}

.tabular th.align_left {
  text-align: left;
}

.tabular th.align_center {
  text-align: center;
}

.tabular th.align_right {
  text-align: right;
}

.tabular th.left_bar {
  border-left: 1px solid black;
}

.tabular th.right_bar {
  border-right: 1px solid black;
}

.tabular td {
  padding: 0em;
}

.tabular td.align_left {
  text-align: left;
}

.tabular td.align_center {
  text-align: center;
}

.tabular td.align_right {
  text-align: right;
}

.tabular td.left_bar {
  border-left: 1px solid black;
}

.tabular td.right_bar {
  border-right: 1px solid black;
}

.tabular tr.top_bar {
  border-top: 1px solid black;
}

.tabular tr.bottom_bar {
  border-bottom: 1px solid black;
}

.footnotes {
  border-top: 1px solid black;
  margin-top: 1em;
  font-size: 90%;
}

sup.footnote {
  font-size: 75%;
  margin-right: 5px;
}

sup.footnote a {
  text-decoration: none;
}

sup.footnote a:visited {
  color: #002f72;
}


.footnotes .header {
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin-left: 0.5em;
  font-size: 120%;
  font-weight: bold;
}

a.arrow {
  text-decoration: none;
}

a:visited.arrow {
  color: #002f72;
}

a.section  {
  color: #070707;
  text-decoration: none;
}

a.heading {
  color: #000;
}

a:hover.heading {
  text-decoration: underline;
}

.sec_num {
  margin-right: 1em;
}

.sidebar {
  border: 1px solid #999;
  padding: 0.5em;
  padding-right: 1.5em;
  background: #eee;
  width: 100%;
}

.sidebar .description {
  font-weight: bold;
}

.highlight {
  border: 1px solid #999;
  width: 100%;
  background: #eee;
  padding-right: 1.5em;
}


pre {
  line-height: 1.2em;
  font-family: monospace;
}

.highlight pre {
  margin: 1em 0 1em 1em;
  font-size: 100%;
}

#table_of_contents {
  margin-top: -1em;
  margin-bottom: 3em;
}

#table_of_contents ol {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0;
  line-height: 1.2em;
}

#table_of_contents li.chapter {
  font-weight: bold;
  padding-top: 1.2em;
}

#table_of_contents ol li {
  padding-left: 3.1em;
}

#table_of_contents a {
  color: #002f72;
}

.navigation {
  font-size: 90%;
  padding-bottom: 2em;
}

.navigation .prev_page {
  float: left;
}

.navigation .next_page {
  float: right;
}

ol {
  margin-bottom: 2em;
}

ol li {
  margin-bottom: 1em;
}