/*--------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
Supdau CSS reset for published pages
CBenge
Start Date 17th Dec 2009
-----------------------------------------------------------------------------------------
/*--------------------------------------------------------------------------------------


/*--CSS reset--*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/*--Clearfix--*/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix { display: inline-block;}
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%;}
/*--End Clearfix--*/


/*--HTML elements--*/
body { margin:0; padding:0; font-family: arial, helvetica, sans-serif; font-size:75%; /*sets font size to a default 12px*/ }

p { padding: 0 0 12px 0; margin:0;}

h1{font-weight:bold;}
    h1.seoText {position:absolute; top:0; left:-9999px;}
h2{font-weight:bold;}
h3{font-weight:bold;}
h4{font-weight:bold;}

a {text-decoration:none;}	
a:hover {text-decoration:underline;}	

ul, ol {padding:0 0 0 35px;}
ul li, ol li {padding:0 0 3px;}

blockquote {font-weight:bold; padding:0 20px; margin:0 0 1em;}
strong, b {font-weight:bold;}
u {text-decoration:underline;}
cite, i , em {font-style:italic;}
center {text-align:center;}


	
	
	
	

	