div.main {
    padding-right:1em;
    margin-right:0px;
    padding-left:1.75em
}

#footnotediv {
    margin:0px 0px 0px 0.7em;
}

div.para {
    text-align:left;
}

div.floating-menu {
    position:fixed;
    width:1.1em;
    height:17.25em;
    top: 0px;
    border-style: solid;
    background:#ffa;
    padding-top:1em;
    margin:0;
    border-color:#A0A090;
    border-radius: 0 1em 1em 0;
    border-width:.2em .2em .2em 0;
    
    transition-property: width;
    transition-timing-function: linear, step-end;
    transition-duration: 0.3s;
    transition-delay: 0;
    -webkit-transition-property: width;
    -webkit-transition-timing-function: linear, step-end;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0;
    
    display:block !important;
    
     z-index:300;
     opacity: 0.9;
     overflow: visible;
    -webkit-overflow-scrolling: touch;
}
 
div.floating-menu table {
    margin-right:1em;
    width:0%;

            transform: matrix(1.55, 0, 0, 1.05, -34, -5);
    -webkit-transform: matrix(1.55, 0, 0, 1.05, -34, -5);
        -ms-transform: matrix(1.55, 0, 0, 1.05, -34, -5);
         -o-transform: matrix(1.55, 0, 0, 1.05, -34, -5);
    
}

#MathJaxMessage {
            transform: rotate(90deg) translateY(2em) translateX(-10.4em);
    -webkit-transform: rotate(90deg) translateY(2em) translateX(-10.4em);
        -ms-transform: rotate(90deg) translateY(2em) translateX(-10.4em);
          o-transform: rotate(90deg) translateY(2em) translateX(-10.4em);
}
